In [1]:
import sqlite3
import os
from IPython.display import display, Markdown
from tabulate import tabulate
# Function to display markdown text
def display_markdown(text):
    display(Markdown(text))
# Set the path to the database file inside the 'data' folder
db_path = os.path.join('..', 'data', 'Employeedetails.db')

# Set up the database connection
conn = sqlite3.connect('Employeedetails.db')
cursor = conn.cursor()

In [2]:
emp_columns = ["""emp_code""", """emp_name""", """dept_code""", """desig_code""", """sex""", """address""", """city""", """state""", """pin""", """basic""", """JN_date"""]
department_columns = ["""dept_code""", """dept_name"""]
designation_columns = ["""desig_code""", """desig_name"""]

cursor.execute("""DELETE FROM emp WHERE dept_code IS NULL""")
cursor.execute("""SELECT * FROM EMP""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata        | Kolkata   | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata         | Kolkata   | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah     | Howrah    | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata           | Kolkata   | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata         | Kolkata   | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata         | Kolkata   | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata          | Kolkata   | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata          | Kolkata   | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata       | Kolkata   | West Bengal | 700019 |   29000 | 2023-11-05 |
| E015       | Saifee     | P003        | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |   40000 | 2000-12-15 |
| E016       | Sourav     | P004        | D002         | F     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |   50000 | 1990-06-23 |
| E017       | Binoy      | P005        | D003         | F     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |   42000 | 2000-11-05 |

### Added some more data to perform following queries

In [5]:
cursor.execute("""SELECT dept_code, min(basic),max(basic),avg(basic) from EMP group by dept_code """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""dept_code""","""min_basic""","""max_Basic""","""avg_Basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| dept_code   |   min_basic |   max_Basic |   avg_Basic |
|:------------|------------:|------------:|------------:|
| P001        |       29000 |       35000 |     32333.3 |
| P002        |       25000 |       27000 |     26000   |
| P003        |       35000 |       40000 |     38333.3 |
| P004        |       22000 |       50000 |     31666.7 |
| P005        |       18000 |       42000 |     26666.7 |

In [12]:
cursor.execute("""SELECT dept_code,count(*) from EMP where sex = 'F' group by dept_code """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""dept_code""","""no_of_female_employee"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| dept_code   |   no_of_female_employee |
|:------------|------------------------:|
| P001        |                       1 |
| P003        |                       1 |
| P004        |                       1 |
| P005        |                       1 |

In [11]:
cursor.execute("""SELECT dept_code,city,count(*) from EMP group by dept_code,city """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""dept_code""","""city""","""no_of_employee"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| dept_code   | city      |   no_of_employee |
|:------------|:----------|-----------------:|
| P001        | Kolkata   |                3 |
| P002        | Durgapur  |                1 |
| P002        | Kolkata   |                1 |
| P003        | Bankura   |                1 |
| P003        | Kolkata   |                2 |
| P004        | Birbhum   |                1 |
| P004        | Kolkata   |                2 |
| P005        | Howrah    |                1 |
| P005        | Kolkata   |                1 |
| P005        | Sundarban |                1 |

In [6]:
cursor.execute("""SELECT dept_code,desig_code,count(*) as noe from EMP where strftime('%Y', JN_date) ='2023'
                    group by dept_code,desig_code order by noe """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""dept_code""","""designation""","""no_of_employee"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| dept_code   | designation   |   no_of_employee |
|:------------|:--------------|-----------------:|
| P001        | D002          |                1 |
| P001        | D001          |                2 |
| P002        | D002          |                2 |
| P003        | D003          |                2 |
| P004        | D004          |                2 |
| P005        | D005          |                2 |

In [7]:
cursor.execute("""SELECT dept_code,sum(basic) as total from EMP where sex = 'M' group by dept_code 
                    having total>=50000 order by total desc """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""dept_code""","""total_Basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| dept_code   |   total_Basic |
|:------------|--------------:|
| P003        |         75000 |
| P001        |         62000 |
| P002        |         52000 |

In [12]:
cursor.execute("""SELECT e.emp_name,d.desig_name ,e.basic from EMP e inner join DESIGNATION d on e.desig_code = d.desig_code """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""emp_name""","""designation_description""","""basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_name   | designation_description   |   basic |
|:-----------|:--------------------------|--------:|
| Swapna Moy | Manager                   |   35000 |
| Abhinandan | Executive                 |   25000 |
| Abrar      | Officer                   |   40000 |
| Shahir     | Clerk                     |   22000 |
| Masud      | Helper                    |   18000 |
| Azim       | Manager                   |   33000 |
| Soumyodeep | Executive                 |   27000 |
| Sidhdhart  | Officer                   |   35000 |
| Akshat     | Clerk                     |   23000 |
| Jeetesh    | Helper                    |   20000 |
| Subham     | Executive                 |   29000 |
| Saifee     | Manager                   |   40000 |
| Sourav     | Executive                 |   50000 |
| Binoy      | Officer                   |   42000 |

In [13]:
cursor.execute("""SELECT e.emp_name,d.desig_name ,p.dept_name,e.basic from EMP e inner join DESIGNATION d 
                    on e.desig_code = d.desig_code inner join DEPARTMENT p on p.dept_code = e.dept_code """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""emp_name""","""designation_description""","""department_name""","""basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_name   | designation_description   | department_name   |   basic |
|:-----------|:--------------------------|:------------------|--------:|
| Swapna Moy | Manager                   | Personell         |   35000 |
| Abhinandan | Executive                 | Production        |   25000 |
| Abrar      | Officer                   | Purchase          |   40000 |
| Shahir     | Clerk                     | Finance           |   22000 |
| Masud      | Helper                    | Research          |   18000 |
| Azim       | Manager                   | Personell         |   33000 |
| Soumyodeep | Executive                 | Production        |   27000 |
| Sidhdhart  | Officer                   | Purchase          |   35000 |
| Akshat     | Clerk                     | Finance           |   23000 |
| Jeetesh    | Helper                    | Research          |   20000 |
| Subham     | Executive                 | Personell         |   29000 |
| Saifee     | Manager                   | Purchase          |   40000 |
| Sourav     | Executive                 | Finance           |   50000 |
| Binoy      | Officer                   | Research          |   42000 |

In [15]:
#Add dummy department before executing this query
cursor.execute("""INSERT INTO DEPARTMENT VALUES ('P006','DummyDep')""")

cursor.execute("""SELECT dept_name from DEPARTMENT p where dept_code not in (select distinct dept_code from EMP) """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""department"""], tablefmt="""pipe"""))
print("""\n""")

#Remove dummy department
cursor.execute("""DELETE from DEPARTMENT where dept_code = 'P006'""")

EMP Table:

| department   |
|:-------------|
| DummyDep     |

In [16]:
cursor.execute("""SELECT dept_name from DEPARTMENT p where dept_code in (select distinct dept_code from EMP) """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""department"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| department   |
|:-------------|
| Personell    |
| Production   |
| Purchase     |
| Finance      |
| Research     |

In [21]:
cursor.execute("""SELECT dept_name from DEPARTMENT p where dept_code in (select dept_code from EMP 
                    group by dept_code having count(*)>=10) """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""department"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| department   |
|--------------|

In [18]:
cursor.execute("""SELECT dept_name from DEPARTMENT p where dept_code in (select dept_code from EMP 
                    where basic in (select max(basic) from EMP)) """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""department"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| department   |
|:-------------|
| Finance      |

In [8]:
cursor.execute("""SELECT desig_name from DESIGNATION d where desig_code in 
                (select desig_code from EMP where basic in (select max(basic) from EMP)) """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""designation"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| designation   |
|:--------------|
| Executive     |

In [24]:
cursor.execute("""SELECT dept_code,count(*) from EMP where desig_code in 
                 (select desig_code from DESIGNATION D where desig_name = 'Manager') group by dept_code""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""department""","""no_of_manager"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| department   |   no_of_manager |
|:-------------|----------------:|
| P001         |               2 |
| P003         |               1 |

In [20]:
cursor.execute("""SELECT basic from EMP order by basic DESC limit 1 """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""maximum_basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

|   maximum_basic |
|----------------:|
|           50000 |

In [21]:
cursor.execute("""SELECT basic from EMP order by basic ASC limit 1 """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""maximum_basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

|   maximum_basic |
|----------------:|
|           18000 |

In [25]:
cursor.execute("""SELECT d.dept_name ,sum(basic) from DEPARTMENT d inner join EMP e on
                    e.dept_code = d.dept_code group by e.dept_code  order by sum(basic) DESC limit 1 """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""maximum_basic""","""total_basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| maximum_basic   |   total_basic |
|:----------------|--------------:|
| Purchase        |        115000 |

In [26]:
cursor.execute("""SELECT d.dept_name ,avg(basic) from DEPARTMENT d inner join EMP e 
                on e.dept_code = d.dept_code group by e.dept_code  order by avg(basic) DESC limit 1 """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""maximum_basic""","""average_basic"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| maximum_basic   |   average_basic |
|:----------------|----------------:|
| Purchase        |         38333.3 |

In [27]:
cursor.execute("""SELECT d.dept_name ,count(*) from DEPARTMENT d inner join EMP e 
                on e.dept_code = d.dept_code group by e.dept_code  order by count(*) DESC limit 1 """)
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=["""maximum_basic""","""no_of_employee"""], tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| maximum_basic   |   no_of_employee |
|:----------------|-----------------:|
| Research        |                3 |

In [30]:
cursor.execute(""" INSERT INTO EMP (emp_code, emp_name, dept_code, desig_code, sex, address, city, state, pin, basic, JN_date) 
VALUES 
    ('E0012', 'DummyA', 'P001', 'D007', 'F', '123, Park Street, Kolkata', 'Kolkata', 'West Bengal', '700001', 35000, '2023-01-15'),
    ('E0013', 'DummyB', 'P002', 'D008', 'M', '456, MG Road, Durgapur', 'Durgapur', 'West Bengal', '713201', 25000, '2023-02-20')""")
cursor.execute("""SELECT * from EMP""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata        | Kolkata   | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata         | Kolkata   | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah     | Howrah    | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata           | Kolkata   | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata         | Kolkata   | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata         | Kolkata   | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata          | Kolkata   | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata          | Kolkata   | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata       | Kolkata   | West Bengal | 700019 |   29000 | 2023-11-05 |
| E015       | Saifee     | P003        | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |   40000 | 2000-12-15 |
| E016       | Sourav     | P004        | D002         | F     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |   50000 | 1990-06-23 |
| E017       | Binoy      | P005        | D003         | F     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |   42000 | 2000-11-05 |
| E0012      | DummyA     | P001        | D007         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E0013      | DummyB     | P002        | D008         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |

In [31]:
cursor.execute("""DELETE from EMP where desig_code not in (select desig_code from DESIGNATION)""")
cursor.execute("""SELECT * from EMP""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata        | Kolkata   | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata         | Kolkata   | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah     | Howrah    | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata           | Kolkata   | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata         | Kolkata   | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata         | Kolkata   | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata          | Kolkata   | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata          | Kolkata   | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata       | Kolkata   | West Bengal | 700019 |   29000 | 2023-11-05 |
| E015       | Saifee     | P003        | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |   40000 | 2000-12-15 |
| E016       | Sourav     | P004        | D002         | F     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |   50000 | 1990-06-23 |
| E017       | Binoy      | P005        | D003         | F     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |   42000 | 2000-11-05 |

In [9]:
cursor.execute("""SELECT * from EMP e where sex = 'F' and basic > (select avg(basic) from EMP e2 
                    where e2.dept_code = e.dept_code group by dept_code )""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E015       | Saifee     | P003        | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |   40000 | 2000-12-15 |
| E016       | Sourav     | P004        | D002         | F     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |   50000 | 1990-06-23 |
| E017       | Binoy      | P005        | D003         | F     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |   42000 | 2000-11-05 |

In [33]:
cursor.execute("""SELECT * from EMP where sex = 'F' and 
                desig_code = (select desig_code from DESIGNATION where desig_name = 'Manager')""")
emp_rows = cursor.fetchall()
print("""\nEMP Table:""")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="""pipe"""))
print("""\n""")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city    | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:--------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | Kolkata | West Bengal | 700001 |   35000 | 2023-01-15 |
| E015       | Saifee     | P003        | D001         | F     | 123, Bankura Road, Bankura | Bankura | West Bengal | 722101 |   40000 | 2000-12-15 |