In [2]:
import sqlite3
import os
from IPython.display import display, Markdown
from tabulate import tabulate
# Function to display markdown text
def display_markdown(text):
    display(Markdown(text))
# Set the path to the database file inside the 'data' folder
db_path = os.path.join('..', 'data', 'Employeedetails.db')

# Set up the database connection
conn = sqlite3.connect('Employeedetails.db')
cursor = conn.cursor()

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS EMP (
    emp_code varchar(5) PRIMARY KEY,
    emp_name varchar(20),
    dept_code varchar(5),
    desig_code varchar(5),
    sex varchar(1),
    address varchar(25),
    city varchar(20),
    state varchar(20),
    pin varchar(6),
    basic int,
    JN_date date
)
""")
cursor.execute("CREATE TABLE IF NOT EXISTS DESIGNATION (desig_code VARCHAR(5) PRIMARY KEY, desig_name VARCHAR(15))")
cursor.execute("CREATE TABLE IF NOT EXISTS DEPARTMENT (dept_code VARCHAR(5) PRIMARY KEY, dept_name VARCHAR(15))")
conn.commit()

In [4]:
# Define a function to describe tables
def describe_table(table_name):
    cursor.execute(f"PRAGMA table_info({table_name})")
    rows = cursor.fetchall()
    headers = ["cid", "name", "type", "notnull", "dflt_value", "pk"]
    print(f"Table: {table_name}")
    display_markdown(tabulate(rows, headers=headers, tablefmt="pipe"))
    print("\n")

# Describe the EMP table
describe_table("EMP")

# Describe the DEPARTMENT table
describe_table("DEPARTMENT")

# Describe the DESIGNATION table
describe_table("DESIGNATION")

Table: EMP

|   cid | name       | type        |   notnull | dflt_value   |   pk |
|------:|:-----------|:------------|----------:|:-------------|-----:|
|     0 | emp_code   | varchar(5)  |         0 |              |    1 |
|     1 | emp_name   | varchar(20) |         0 |              |    0 |
|     2 | dept_code  | varchar(5)  |         0 |              |    0 |
|     3 | desig_code | varchar(5)  |         0 |              |    0 |
|     4 | sex        | varchar(1)  |         0 |              |    0 |
|     5 | address    | varchar(25) |         0 |              |    0 |
|     6 | city       | varchar(20) |         0 |              |    0 |
|     7 | state      | varchar(20) |         0 |              |    0 |
|     8 | pin        | varchar(6)  |         0 |              |    0 |
|     9 | basic      | INT         |         0 |              |    0 |
|    10 | JN_date    | date        |         0 |              |    0 |

Table: DEPARTMENT

|   cid | name      | type        |   notnull | dflt_value   |   pk |
|------:|:----------|:------------|----------:|:-------------|-----:|
|     0 | dept_code | VARCHAR(5)  |         0 |              |    1 |
|     1 | dept_name | VARCHAR(15) |         0 |              |    0 |

Table: DESIGNATION

|   cid | name       | type        |   notnull | dflt_value   |   pk |
|------:|:-----------|:------------|----------:|:-------------|-----:|
|     0 | desig_code | VARCHAR(5)  |         0 |              |    1 |
|     1 | desig_name | VARCHAR(15) |         0 |              |    0 |

In [7]:

# Insert values into the DESIGNATION table
cursor.execute("INSERT INTO DESIGNATION VALUES ('D001', 'Manager'), ('D002', 'Executive'), ('D003', 'Officer'), ('D004', 'Clerk'), ('D005', 'Helper')")
# Insert values into the DEPARTMENT table
cursor.execute("INSERT INTO DEPARTMENT VALUES ('P001', 'Personell'), ('P002', 'Production'), ('P003', 'Purchase'), ('P004', 'Finance'), ('P005', 'Research')")
# Insert values into the EMP table
cursor.execute("""
INSERT INTO EMP (emp_code, emp_name, dept_code, desig_code, sex, address, city, state, pin, basic, JN_date) 
VALUES 
    ('E001', 'Swapna Moy', 'P001', 'D001', 'F', '123, Park Street, Kolkata', 'Kolkata', 'West Bengal', '700001', 35000, '2023-01-15'),
    ('E002', 'Abhinandan', 'P002', 'D002', 'M', '456, MG Road, Durgapur', 'Durgapur', 'West Bengal', '713201', 25000, '2023-02-20'),
    ('E003', 'Abrar', 'P003', 'D003', 'M', '789, Salt Lake, Kolkata', 'Kolkata', 'West Bengal', '700091', 40000, '2023-03-10'),
    ('E004', 'Shahir', 'P004', 'D004', 'M', '321, Rajarhat, Kolkata', 'Kolkata', 'West Bengal', '700135', 22000, '2023-04-05'),
    ('E005', 'Masud', 'P005', 'D005', 'M', '654, Howrah Bridge, Howrah', 'Howrah', 'West Bengal', '711101', 18000, '2023-05-30'),
    ('E006', 'Azim', 'P001', 'D001', 'M', '987, Dumdum, Kolkata', 'Kolkata', 'West Bengal', '700028', 33000, '2023-06-15'),
    ('E007', 'Soumyodeep', 'P002', 'D002', 'M', '135, BBD Bagh, Kolkata', 'Kolkata', 'West Bengal', '700003', 27000, '2023-07-12'),
    ('E008', 'Sidhdhart', 'P003', 'D003', 'M', '864, Jadavpur, Kolkata', 'Kolkata', 'West Bengal', '700032', 35000, '2023-08-01'),
    ('E009', 'Akshat', 'P004', 'D004', 'M', '753, Sealdah, Kolkata', 'Kolkata', 'West Bengal', '700014', 23000, '2023-09-22'),
    ('E010', 'Jeetesh', 'P005', 'D005', 'M', '987, Newtown, Kolkata', 'Kolkata', 'West Bengal', '700135', 20000, '2023-10-17'),
    ('E011', 'Subham', 'P001', 'D002', 'M', '369, Ballygunge, Kolkata', 'Kolkata', 'West Bengal', '700019', 29000, '2023-11-05')"""
)
conn.commit()

In [8]:
emp_columns = ["emp_code", "emp_name", "dept_code", "desig_code", "sex", "address", "city", "state", "pin", "basic", "JN_date"]
department_columns = ["dept_code", "dept_name"]
designation_columns = ["desig_code", "desig_name"]

cursor.execute("SELECT * FROM DESIGNATION")
designation_rows = cursor.fetchall()
print("Designation Table:")
display_markdown(tabulate(designation_rows, headers=designation_columns, tablefmt="pipe"))
print("\n")
cursor.execute("SELECT * FROM DEPARTMENT")
department_rows = cursor.fetchall()
print("\nDepartment Table:")
display_markdown(tabulate(department_rows, headers=department_columns, tablefmt="pipe"))
print("\n")

cursor.execute("SELECT * FROM EMP")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

Designation Table:

| desig_code   | desig_name   |
|:-------------|:-------------|
| D001         | Manager      |
| D002         | Executive    |
| D003         | Officer      |
| D004         | Clerk        |
| D005         | Helper       |

Department Table:

| dept_code   | dept_name   |
|:------------|:------------|
| P001        | Personell   |
| P002        | Production  |
| P003        | Purchase    |
| P004        | Finance     |
| P005        | Research    |

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city     | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:---------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | Kolkata  | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur     | Durgapur | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata    | Kolkata  | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata     | Kolkata  | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah | Howrah   | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata       | Kolkata  | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata     | Kolkata  | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata     | Kolkata  | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata      | Kolkata  | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata      | Kolkata  | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata   | Kolkata  | West Bengal | 700019 |   29000 | 2023-11-05 |

In [9]:
cursor.execute("""
INSERT INTO EMP (emp_code, emp_name, desig_code, sex, address, city, state, pin, JN_date) 
VALUES 
    ('E012', 'Saifee', 'D001', 'F', '123, Bankura Road, Bankura', 'Bankura', 'West Bengal', '722101', '1998-12-15'),
    ('E013', 'Sourav', 'D002', 'M', '12/2, High Court Road, Birbhum', 'Birbhum', 'West Bengal', '722102', '1997-06-23'),
    ('E014', 'Binoy', 'D003', 'M', '7, Baranganj  Road', 'Sundarban', 'West Bengal', '722103', '1995-11-05')"""
)
conn.commit()
cursor.execute("SELECT * FROM EMP")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata        | Kolkata   | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata         | Kolkata   | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah     | Howrah    | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata           | Kolkata   | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata         | Kolkata   | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata         | Kolkata   | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata          | Kolkata   | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata          | Kolkata   | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata       | Kolkata   | West Bengal | 700019 |   29000 | 2023-11-05 |
| E012       | Saifee     |             | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |         | 1998-12-15 |
| E013       | Sourav     |             | D002         | M     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |         | 1997-06-23 |
| E014       | Binoy      |             | D003         | M     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |         | 1995-11-05 |

In [10]:
cursor.execute("SELECT * FROM EMP WHERE dept_code IS NULL")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin | basic   | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|:--------|:-----------|
| E012       | Saifee     |             | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |         | 1998-12-15 |
| E013       | Sourav     |             | D002         | M     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |         | 1997-06-23 |
| E014       | Binoy      |             | D003         | M     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |         | 1995-11-05 |

In [11]:
cursor.execute("SELECT * FROM EMP WHERE basic = 0")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address   | city   | state   | pin   | basic   | JN_date   |
|------------|------------|-------------|--------------|-------|-----------|--------|---------|-------|---------|-----------|

In [12]:
cursor.execute("SELECT * FROM EMP WHERE basic IS NULL")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin | basic   | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|:--------|:-----------|
| E012       | Saifee     |             | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |         | 1998-12-15 |
| E013       | Sourav     |             | D002         | M     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |         | 1997-06-23 |
| E014       | Binoy      |             | D003         | M     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |         | 1995-11-05 |

In [13]:
cursor.execute("SELECT avg(basic) as average_basic FROM EMP")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=["average_basic"], tablefmt="pipe"))
print("\n")

EMP Table:

|   average_basic |
|----------------:|
|         27909.1 |

In [14]:
cursor.execute("UPDATE emp SET basic = 0 WHERE basic IS NULL")
cursor.execute("SELECT * FROM EMP ")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                        | city      | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:-------------------------------|:----------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata      | Kolkata   | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur         | Durgapur  | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata        | Kolkata   | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata         | Kolkata   | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah     | Howrah    | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata           | Kolkata   | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata         | Kolkata   | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata         | Kolkata   | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata          | Kolkata   | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata          | Kolkata   | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata       | Kolkata   | West Bengal | 700019 |   29000 | 2023-11-05 |
| E012       | Saifee     |             | D001         | F     | 123, Bankura Road, Bankura     | Bankura   | West Bengal | 722101 |       0 | 1998-12-15 |
| E013       | Sourav     |             | D002         | M     | 12/2, High Court Road, Birbhum | Birbhum   | West Bengal | 722102 |       0 | 1997-06-23 |
| E014       | Binoy      |             | D003         | M     | 7, Baranganj  Road             | Sundarban | West Bengal | 722103 |       0 | 1995-11-05 |

In [15]:
cursor.execute("SELECT AVG(basic) AS average_basic FROM emp")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=["average_basic"], tablefmt="pipe"))
print("\n")

EMP Table:

|   average_basic |
|----------------:|
|         21928.6 |

In [16]:
cursor.execute("DELETE FROM emp WHERE dept_code IS NULL")
cursor.execute("SELECT * FROM EMP")
emp_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(emp_rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city     | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:---------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | Kolkata  | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur     | Durgapur | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata    | Kolkata  | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata     | Kolkata  | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah | Howrah   | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata       | Kolkata  | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata     | Kolkata  | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata     | Kolkata  | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata      | Kolkata  | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata      | Kolkata  | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata   | Kolkata  | West Bengal | 700019 |   29000 | 2023-11-05 |

In [17]:
cursor.execute("SELECT emp_name, (basic + basic*0.5 + basic*0.4) AS Net_pay FROM emp")
net_pay_rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(net_pay_rows, headers=["Emp_Name","Net_Pay"], tablefmt="pipe"))
print("\n")

EMP Table:

| Emp_Name   |   Net_Pay |
|:-----------|----------:|
| Swapna Moy |     66500 |
| Abhinandan |     47500 |
| Abrar      |     76000 |
| Shahir     |     41800 |
| Masud      |     34200 |
| Azim       |     62700 |
| Soumyodeep |     51300 |
| Sidhdhart  |     66500 |
| Akshat     |     43700 |
| Jeetesh    |     38000 |
| Subham     |     55100 |

In [18]:
cursor.execute("SELECT UPPER(emp_name), basic,dept_code FROM emp ORDER BY dept_code")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=["Emp_Name","BAsic","dept_code"], tablefmt="pipe"))
print("\n")

EMP Table:

| Emp_Name   |   BAsic | dept_code   |
|:-----------|--------:|:------------|
| SWAPNA MOY |   35000 | P001        |
| AZIM       |   33000 | P001        |
| SUBHAM     |   29000 | P001        |
| ABHINANDAN |   25000 | P002        |
| SOUMYODEEP |   27000 | P002        |
| ABRAR      |   40000 | P003        |
| SIDHDHART  |   35000 | P003        |
| SHAHIR     |   22000 | P004        |
| AKSHAT     |   23000 | P004        |
| MASUD      |   18000 | P005        |
| JEETESH    |   20000 | P005        |

In [19]:
cursor.execute("SELECT * FROM emp WHERE JN_date > '1990-01-01'")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city     | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:---------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | Kolkata  | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur     | Durgapur | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata    | Kolkata  | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata     | Kolkata  | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah | Howrah   | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata       | Kolkata  | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata     | Kolkata  | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata     | Kolkata  | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata      | Kolkata  | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata      | Kolkata  | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata   | Kolkata  | West Bengal | 700019 |   29000 | 2023-11-05 |

In [20]:
cursor.execute("SELECT * FROM emp WHERE strftime('%m', JN_date) = '01'")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                   | city    | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:--------------------------|:--------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata | Kolkata | West Bengal | 700001 |   35000 | 2023-01-15 |

In [21]:
cursor.execute("SELECT MAX(basic), MIN(basic) FROM emp")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=["max_basic","min_basic"], tablefmt="pipe"))
print("\n")

EMP Table:

|   max_basic |   min_basic |
|------------:|------------:|
|       40000 |       18000 |

In [22]:
cursor.execute("SELECT * FROM emp WHERE sex = 'F'")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                   | city    | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:--------------------------|:--------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata | Kolkata | West Bengal | 700001 |   35000 | 2023-01-15 |

In [24]:
cursor.execute("UPDATE emp SET city = UPPER(city)")
cursor.execute("SELECT * FROM emp")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city     | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:---------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | KOLKATA  | West Bengal | 700001 |   35000 | 2023-01-15 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur     | DURGAPUR | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata    | KOLKATA  | West Bengal | 700091 |   40000 | 2023-03-10 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata     | KOLKATA  | West Bengal | 700135 |   22000 | 2023-04-05 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah | HOWRAH   | West Bengal | 711101 |   18000 | 2023-05-30 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata       | KOLKATA  | West Bengal | 700028 |   33000 | 2023-06-15 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata     | KOLKATA  | West Bengal | 700003 |   27000 | 2023-07-12 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata     | KOLKATA  | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata      | KOLKATA  | West Bengal | 700014 |   23000 | 2023-09-22 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata      | KOLKATA  | West Bengal | 700135 |   20000 | 2023-10-17 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata   | KOLKATA  | West Bengal | 700019 |   29000 | 2023-11-05 |

In [25]:
cursor.execute("SELECT DISTINCT city FROM emp")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=["cities"], tablefmt="pipe"))
print("\n")

EMP Table:

| cities   |
|:---------|
| KOLKATA  |
| DURGAPUR |
| HOWRAH   |

In [26]:
cursor.execute("SELECT * FROM emp ORDER BY dept_code, basic DESC")
rows = cursor.fetchall()
print("\nEMP Table:")
display_markdown(tabulate(rows, headers=emp_columns, tablefmt="pipe"))
print("\n")

EMP Table:

| emp_code   | emp_name   | dept_code   | desig_code   | sex   | address                    | city     | state       |    pin |   basic | JN_date    |
|:-----------|:-----------|:------------|:-------------|:------|:---------------------------|:---------|:------------|-------:|--------:|:-----------|
| E001       | Swapna Moy | P001        | D001         | F     | 123, Park Street, Kolkata  | KOLKATA  | West Bengal | 700001 |   35000 | 2023-01-15 |
| E006       | Azim       | P001        | D001         | M     | 987, Dumdum, Kolkata       | KOLKATA  | West Bengal | 700028 |   33000 | 2023-06-15 |
| E011       | Subham     | P001        | D002         | M     | 369, Ballygunge, Kolkata   | KOLKATA  | West Bengal | 700019 |   29000 | 2023-11-05 |
| E007       | Soumyodeep | P002        | D002         | M     | 135, BBD Bagh, Kolkata     | KOLKATA  | West Bengal | 700003 |   27000 | 2023-07-12 |
| E002       | Abhinandan | P002        | D002         | M     | 456, MG Road, Durgapur     | DURGAPUR | West Bengal | 713201 |   25000 | 2023-02-20 |
| E003       | Abrar      | P003        | D003         | M     | 789, Salt Lake, Kolkata    | KOLKATA  | West Bengal | 700091 |   40000 | 2023-03-10 |
| E008       | Sidhdhart  | P003        | D003         | M     | 864, Jadavpur, Kolkata     | KOLKATA  | West Bengal | 700032 |   35000 | 2023-08-01 |
| E009       | Akshat     | P004        | D004         | M     | 753, Sealdah, Kolkata      | KOLKATA  | West Bengal | 700014 |   23000 | 2023-09-22 |
| E004       | Shahir     | P004        | D004         | M     | 321, Rajarhat, Kolkata     | KOLKATA  | West Bengal | 700135 |   22000 | 2023-04-05 |
| E010       | Jeetesh    | P005        | D005         | M     | 987, Newtown, Kolkata      | KOLKATA  | West Bengal | 700135 |   20000 | 2023-10-17 |
| E005       | Masud      | P005        | D005         | M     | 654, Howrah Bridge, Howrah | HOWRAH   | West Bengal | 711101 |   18000 | 2023-05-30 |